{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div>
    <h1 class="display-4"><em><center>Towing Management System</center></h1></div></em>
  <p class="lead"><em><center>
       your Reliable towing Assistant </center></em>
  </p>
    <p class="lead">
        {% if user.is_authenticated %}
             <div class="col-md-12 text-center">
  <a class="btn btn-outline-dark btn-sm" href="{% url 'vehicle_list' %}" role="button">View All Vehicles</a>
                 <a class="btn btn-outline-dark btn-sm" href="{% url 'client_create' %}" role="button">Client Registration</a></div>
  {% else %}
        <form class="form-inline ml-auto">
        <div class="col-md-12 text-center">
            <a href="{% url 'login' %}" class="btn btn-outline-dark">
                Log In</a>
            <a href="{% url 'custom_signup' %}" class="btn btn-dark ml-2">
                Sign up</a></div>
        </form>
{% endif %}

</p>

</div>
{% endblock content %}
